// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// 2. Include any default variable overrides here
$navbar-padding-y:                  $spacer * .1;

$enable-shadows  : true;

$warning : rgb(206, 218, 47);
$danger : rgb(207, 32, 1);
$primary : #2f7fff;

// 3. Include remainder of required Bootstrap stylesheets


// 4. Include any optional Bootstrap components as you like
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";

// 5. Add additional custom code here


$theme-colors: (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $indigo-500,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
);


// Create your own map
$custom-colors: (
    "vino": #900,
    "pistacho" : #90b083
);

$table-variants: (
    "primary":    shift-color($primary, $table-bg-scale),
    "secondary":  shift-color($secondary, $table-bg-scale),
    "success":    shift-color($success, $table-bg-scale),
    "info":       shift-color($info, $table-bg-scale),
    "warning":    shift-color($warning, $table-bg-scale),
    "danger":     shift-color($danger, $table-bg-scale),
    "light":      $light,
    "dark":       $dark,
    "vino":     shift-color(#900,-95%)
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);
$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
$utilities-colors: map-merge($utilities-colors, $theme-colors-rgb);
$utilities-text-colors: map-loop($utilities-colors, rgba-css-var, "$key", "text");
$utilities-bg-colors: map-loop($utilities-colors, rgba-css-var, "$key", "bg");

@import "../node_modules/bootstrap/scss/bootstrap";
